<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offfset-4 col-sm-offset-3">
    {{#if successMsg}}
    <div id="success" class="alert alert-success">
      Order Placed!
    </div>
    {{else}}
    {{/if}}
  </div>
</div>   
{{#each products}}
<div class="box">
  {{#each this}}
  <div class="card m-4">
    <img  class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}} </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">${{this.price}}</div>
            <a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right m-3" role="button">Add to Cart</a> 
    </div>
  </div>
  {{/each}}
</div>
{{/each}}